.athlete-achievements {
  margin-top: 1rem;

  .section-header {
    font-size: 1.6rem;
    font-weight: 700;
    color: #b26d60;
    margin-bottom: 0.5rem;
    line-height: 2rem;
    text-transform: uppercase;
  }

  .bio-wrapper {
    padding: 0.75rem;
    .athlete-bio {
      font-size: 1rem;
      width: 100%;
      line-height: 1.7rem;
      color: #4e4e4e;
      font-style: italic;
    }
  }
}
